In [17]:
import numpy as np
from sys import argv

#path = str(argv[1])
x = np.fromfile("binaryFile.bin", dtype=int)
print("X: {} Value: {}".format(x, type(x)))
x

X: [ 0  1  3  6 10 15 21 28 36 45] Value: <class 'numpy.ndarray'>

array([ 0,  1,  3,  6, 10, 15, 21, 28, 36, 45])

In [18]:
x = np.fromfile("Rooftop_Position_Logs (1).GPS")
type(x)

numpy.ndarray

In [19]:
import pandas as pd
x = np.fromfile("Rooftop_Position_Logs.BIN")
x

array([ 1.49186888e-154,  1.09473763e-310,  1.54921331e-220, ...,
        2.00000000e+000,  2.01865460e-310, -5.33876230e+176])

#RTKPOSA,COM1,0,19.5,UNKNOWN,0,2.000,124c0000,69d3,16725;INSUFFICIENT_OBS,NONE,0.00000000000,0.00000000000,0.0000,0.0000,WGS84,0.0000,0.0000,0.0000,"",0.000,0.000,0,0,0,0,00,00,00,00*9fd2efb6

,sol_sattus,pos_type,lat,lon,hgt,undulation,datum id#,lat σ,lon σ,hgt σ,...,diff_age,sol_age,#SVs,#solnSVs,#ggL1,#solnMultiSVs,Null,ext sol stat,Galileo and BeiDou sig mask,GPS and GLONASS sig mask
0,SOL_COMPUTED,PSRDIFF,51.15043751292,-114.03067768438,1097.1240,-17.0000,WGS84,0.3335,0.2542,0.5266,...,2.000,0.000,38,33,0,0,00,08,11,11*4b7e8d04

C:\Users\Jan Erik Naess\Anaconda3\envs\ensf411\lib\site-packages\pyproj\crs\crs.py:131: FutureWarning: '+init=<authority>:<code>' syntax is deprecated. '<authority>:<code>' is the preferred initialization method. When making the change, be mindful of axis order changes: https://pyproj4.github.io/pyproj/stable/gotchas.html#axis-order-changes-in-proj-6
  in_crs_string = _prepare_from_proj_string(in_crs_string)
C:\Users\Jan Erik Naess\Anaconda3\envs\ensf411\lib\site-packages\pyproj\crs\crs.py:131: FutureWarning: '+init=<authority>:<code>' syntax is deprecated. '<authority>:<code>' is the preferred initialization method. When making the change, be mindful of axis order changes: https://pyproj4.github.io/pyproj/stable/gotchas.html#axis-order-changes-in-proj-6
  in_crs_string = _prepare_from_proj_string(in_crs_string)
<ipython-input-24-c1cfaebcc205>:8: DeprecationWarning: This function is deprecated. See: https://pyproj4.github.io/pyproj/stable/gotchas.html#upgrading-to-pyproj-2-from-pyproj-1
  x,y = transform(inProj,outProj,lon,lat)

,sol_sattus,pos_type,lat,lon,hgt,undulation,datum_id#,lat_sigma,lon_sigma,hgt_sigma,...,diff_age,sol_age,#SVs,#solnSVs,#ggL1,#solnMultiSVs,Null,ext sol stat,Null,GPS_and_GLONASS_sig_ mask
0,INSUFFICIENT_OBS,NONE,0.00000000000,0.00000000000,0.0000,0.0000,WGS84,0.0000,0.0000,0.0000,...,0.000,0.000,0,0,0,0,00,00,00,00*85788e5a
1,INSUFFICIENT_OBS,NONE,0.00000000000,0.00000000000,0.0000,0.0000,WGS84,0.0000,0.0000,0.0000,...,0.000,0.000,0,0,0,0,00,00,00,00*2a127a74
2,INSUFFICIENT_OBS,NONE,0.00000000000,0.00000000000,0.0000,0.0000,WGS84,0.0000,0.0000,0.0000,...,0.000,0.000,0,0,0,0,00,00,00,00*fdb42ddc
3,INSUFFICIENT_OBS,NONE,0.00000000000,0.00000000000,0.0000,0.0000,WGS84,0.0000,0.0000,0.0000,...,0.000,0.000,0,0,0,0,00,00,00,00*87795585
4,INSUFFICIENT_OBS,NONE,0.00000000000,0.00000000000,0.0000,0.0000,WGS84,0.0000,0.0000,0.0000,...,0.000,0.000,0,0,0,0,00,00,00,00*78b4d0db
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
86709,SOL_COMPUTED,NARROW_INT,51.15043742628,-114.03067811855,1097.3674,-17.0000,WGS84,0.0054,0.0040,0.0092,...,1.000,0.000,42,38,38,37,00,21,7f,37*6e2db3b5
86710,SOL_COMPUTED,PPP,51.15043707574,-114.03067871024,1097.3674,-17.0001,WGS84,0.0169,0.0130,0.0303,...,14.000,0.000,42,38,38,37,00,00,7f,37*c0dbaaa6
86711,SOL_COMPUTED,PPP,51.15043706675,-114.03067872928,1097.3664,-17.0001,WGS84,0.0170,0.0131,0.0305,...,15.000,0.000,42,38,38,37,00,00,7f,37*d5edb4ef
86712,SOL_COMPUTED,PPP,51.15043706177,-114.03067872544,1097.3654,-17.0001,WGS84,0.0171,0.0132,0.0308,...,16.000,0.000,42,38,38,37,00,00,7f,37*82912859
86713,SOL_COMPUTED,PPP,51.15043707823,-114.03067873234,1097.3657,-17.0001,WGS84,0.0174,0.0135,0.0313,...,17.000,0.000,41,38,38,37,00,00,7f,37*a07feb02

In [33]:
dat.psr

,sol_sattus,pos_type,lat,lon,hgt,undulation,datum id#,lat_sigma,lon_sigma,hgt_sigma,...,diff_age,sol_age,#SVs,#solnSVs,Null,Null,Null,ext_sol_stat,Galileo_and_BeiDou_sig_mask,GPS_and_GLONASS_sig_mask
0,INSUFFICIENT_OBS,NONE,0.00000000000,0.00000000000,0.0000,0.0000,WGS84,0.0000,0.0000,0.0000,...,0.000,0.000,0,0,0,0,00,00,00,00*8f36f902
1,INSUFFICIENT_OBS,NONE,0.00000000000,0.00000000000,0.0000,0.0000,WGS84,0.0000,0.0000,0.0000,...,0.000,0.000,0,0,0,0,00,00,00,00*205c0d2c
2,INSUFFICIENT_OBS,NONE,0.00000000000,0.00000000000,0.0000,0.0000,WGS84,0.0000,0.0000,0.0000,...,0.000,0.000,0,0,0,0,00,00,00,00*f7fa5a84
3,INSUFFICIENT_OBS,NONE,0.00000000000,0.00000000000,0.0000,0.0000,WGS84,0.0000,0.0000,0.0000,...,0.000,0.000,0,0,0,0,00,00,00,00*8d3722dd
4,INSUFFICIENT_OBS,NONE,0.00000000000,0.00000000000,0.0000,0.0000,WGS84,0.0000,0.0000,0.0000,...,0.000,0.000,0,0,0,0,00,00,00,00*6850c66f
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
86709,SOL_COMPUTED,PPP,51.15043705242,-114.03067870992,1097.3664,-17.0001,WGS84,0.0169,0.0131,0.0304,...,13.000,0.000,42,38,38,37,00,00,7f,37*5127d247
86710,SOL_COMPUTED,NARROW_INT,51.15043746657,-114.03067811795,1097.3717,-17.0000,WGS84,0.0055,0.0040,0.0092,...,1.000,0.000,42,38,38,37,00,21,7f,37*ca344234
86711,SOL_COMPUTED,NARROW_INT,51.15043743780,-114.03067813308,1097.3677,-17.0000,WGS84,0.0055,0.0040,0.0092,...,1.000,0.000,42,38,38,37,00,21,7f,37*89c878f6
86712,SOL_COMPUTED,NARROW_INT,51.15043743917,-114.03067812550,1097.3687,-17.0000,WGS84,0.0055,0.0041,0.0093,...,1.000,0.000,42,38,38,37,00,21,7f,37*406e9e94
86713,SOL_COMPUTED,NARROW_INT,51.15043747026,-114.03067813387,1097.3702,-17.0000,WGS84,0.0055,0.0041,0.0092,...,1.000,0.000,41,38,38,37,00,21,7f,37*5c40910f