In [1]:
import numpy as np
from sys import argv

#path = str(argv[1])
x = np.fromfile("binaryFile.bin", dtype=int)
print("X: {} Value: {}".format(x, type(x)))
x

X: [ 0  1  3  6 10 15 21 28 36 45] Value: <class 'numpy.ndarray'>

array([ 0,  1,  3,  6, 10, 15, 21, 28, 36, 45])

In [5]:
x = np.fromfile("Rooftop_Position_Logs (1).GPS")
type(x)

numpy.ndarray

In [7]:
import pandas as pd
x = np.fromfile("Rooftop_Position_Logs.BIN")
x

array([ 1.49186888e-154,  1.09473763e-310,  1.54921331e-220, ...,
        2.00000000e+000,  2.01865460e-310, -5.33876230e+176])

In [11]:
l = []
with open("Rooftop_Position_Logs.ASC", 'r') as f:
    count = 0
    for line in f:
        l = line
        print(line)
        break

#RTKPOSA,COM1,0,19.5,UNKNOWN,0,2.000,124c0000,69d3,16725;INSUFFICIENT_OBS,NONE,0.00000000000,0.00000000000,0.0000,0.0000,WGS84,0.0000,0.0000,0.0000,"",0.000,0.000,0,0,0,0,00,00,00,00*9fd2efb6

In [63]:
def clean_and_split(line):
    """returns only the valuable (not header stuff)"""
    return [line.strip("\n").strip("#").split(";")[1].split(",")]

#pd.read_csv("Rooftop_Position_Logs.ASC")
header = ["Log_name", "Port", "Sequence#", "% Idle Time", "Time_Status", "Week", "Seconds", "Receiver_Status", "Null", "Receiver_S/W_Version"]
rtk = ["sol_sattus", "pos_type", "lat", "lon", "hgt", "undulation", 
       "datum id#", "lat σ", "lon σ",  "hgt σ", "stn id", "diff_age", 
       "sol_age", "#SVs", "#solnSVs", "#ggL1", "#solnMultiSVs", "Null", 
       "ext sol stat", "Galileo and BeiDou sig mask", "GPS and GLONASS sig mask"]#, "xxxx", "[CR][LF]"]
ppp = ["sol_sattus", "pos_type", "lat", "lon", "hgt", "undulation", "datum_id#", 
       "lat_sigma", "lon_sigma",  "hgt_sigma", "stn_id", "diff_age", "sol_age", "#SVs", 
       "#solnSVs", "#ggL1", "#solnMultiSVs", "Null", "ext sol stat", "Null", "GPS_and_GLONASS_sig_ mask"]#, "xxxx", "[CR][LF]"]
psr = ["sol_sattus", "pos_type", "lat", "lon", "hgt", "undulation", "datum id#", "lat_sigma", 
       "lon_sigma",  "hgt_sigma", "stn_id", "diff_age", "sol_age", "#SVs", "#solnSVs", "Null", 
       "Null", "Null", "ext_sol_stat", "Galileo_and_BeiDou_sig_mask", "GPS_and_GLONASS_sig_mask"]#, "xxxx", "[CR][LF]"]

In [77]:
rtk_data = []
ppp_data = []
psr_data = []

with open("Rooftop_Position_Logs.ASC", 'r') as f:
    count = 0
    for line in f:
        data = clean_and_split(line)
        
        if count%3 == 0:
            #then rtk
            rtk_data.append(data)
        elif count%3 == 1:
            #then ppp
            ppp_data.append(data)
        else:
            #then psr
            psr_data.append(data)
            
        count = count + 1

In [82]:
#df_rtk = pd.DataFrame(rtk_data, columns=rtk)
#df_ppp = pd.DataFrame(columns=ppp)
#df_psr = pd.DataFrame(columns=psr)

pd.DataFrame(rtk_data[100], columns=rtk)

,sol_sattus,pos_type,lat,lon,hgt,undulation,datum id#,lat σ,lon σ,hgt σ,...,diff_age,sol_age,#SVs,#solnSVs,#ggL1,#solnMultiSVs,Null,ext sol stat,Galileo and BeiDou sig mask,GPS and GLONASS sig mask
0,SOL_COMPUTED,PSRDIFF,51.15043751292,-114.03067768438,1097.1240,-17.0000,WGS84,0.3335,0.2542,0.5266,...,2.000,0.000,38,33,0,0,00,08,11,11*4b7e8d04

In [3]:
from pyproj import Proj, transform

#3TM -- ESPG:3780
#UTM 11 N -- ESPG:32611
inProj = Proj(init="epsg:3780")
outProj = Proj(init="epsg:32611")
lat,lon = (5660608.457, -9393.721)
x,y = transform(inProj,outProj,lon,lat)

In [4]:
print(x)
print(y)

6638351.729359833
-9969.393537191228