In [20]:
import pandas as pd
#import pyodbc

from cs50 import SQL

db = SQL("postgresql://mnonspcirnraqg:7919dd02f614cb83509e2889ec281800889dec45fb24c57db99d632e678f5626@ec2-52-3-60-53.compute-1.amazonaws.com:5432/d3kr6lkene46qr") 

cursor = db.cursor()

user = db.execute("SELECT * FROM simulations LIMIT 50")

#df = pd.read_csv("scripts/Output_Tracks.csv")

AttributeError: 'SQL' object has no attribute 'cursor'

In [14]:
#df = pd.DataFrame()

In [13]:
data = {'bottom_left_e' : [0],
                   'bottom_left_n' : [0],
                   'bottom_right_e' : [0],
                   'bottom_right_n' : [0],
                   'top_left_e' : [0],
                   'top_left_n' : [0],
                   'top_right_e' : [0],
                   'top_right_n' : [0],
                   'coord_system' : ["hiii"]}

df = pd.DataFrame.from_dict(data)

In [14]:
import psycopg2
import pandas as pd
from sqlalchemy import create_engine
# Some other example server values are
# server = 'localhost\sqlexpress' # for a named instance
# server = 'myserver,port' # to specify an alternate port

'\nfrom sqlalchemy import create_engine\nimport pandas as pd\n\n\nengine = create_engine("mysql://root:matt123@localhost/ada")\ncon = engine.connect()\ndf = pd.DataFrame([\'A\',\'B\'],columns=[\'new_tablecol\'])\ndf.to_sql(name=\'new_table\',con=con,if_exists=\'append\')\ncon.close()'

In [8]:
df.to_sql('simulations', con=cnxn, if_exists='append')

DatabaseError: Execution failed on sql 'SELECT name FROM sqlite_master WHERE type='table' AND name=?;': syntax error at or near ";"
LINE 1: ...ELECT name FROM sqlite_master WHERE type='table' AND name=?;
                                                                      ^